
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= arg['title'] %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Jeux Inter-Groupes" />
	<meta name="keywords" content="JIG, TELECOM Nancy" />
	<meta name="author" content="Kilian Cuny" />


	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>

	<body>
	<header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			    <nav class="navbar navbar-default">
		        <div class="navbar-header">
		        	<!-- Mobile Toggle Menu Button -->
							<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		         	<a class="navbar-brand" href="index.html">Jeux Inter-Groupes</a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li class="active"><a href="#" data-nav-section="Evenements"><span>Événements</span></a></li>
								<li><a href="#" data-nav-section="Points"><span>Points & Paris</span></a></li>
								<li><a href="#" data-nav-section="Configurations"><span>Configurations</span></a></li>
		          </ul>
		        </div>
			    </nav>
			  <!-- </div> -->
		  </div>
	</header>

	<section id="fh5co-home" data-section="Evenements" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.65">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap" style="height:750px">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="to-animate" style="color: rgba(255, 255, 255, 1)">Ajouter un commentaire ou note (tel personne a gagné au poker à la table tant)</h2>
							<div class="row" style="margin-top:50px">
								<div class="col-md-8 col-md-offset-2" style="color:black">
									<input id="commentaire_input" maxlength="300" style="width:70%;background-color:rgba(240, 240, 240, 0.5)" type="text">
									<button style="background-color:rgba(240, 240, 240, 0.5)" id="add_commentaire"><i class="icon icon-plus"></i></button>
									<button style="background-color:rgba(240, 240, 240, 0.5)" onClick="window.location.reload()"><i class="icon icon-refresh"></i></button>
								</div>
							</div>
							<div  class="table-responsive" style="margin-top:20px; height:250px; overflow:auto; border: 1px groove rgba(146, 146, 146, 0.25)">
								<table>
									<% for (var i = 0; i < arg['commentaire'].length; i++){ %>
										<tr>
											<td style="color:black;"><%= arg['commentaire'][i].commentaire %></td>
											<td style="color:black;">
												<a class="trash_commentaire" href="#" id_commentaire="<%= arg['commentaire'][i].id %>">
													<i class="icon to-animate icon-trash" style="color:black"></i>
												</a>
											</td>
										</tr>
									<% } %>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>


	<section id="fh5co-services" data-section="Points">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-left" style="padding-bottom:0px; margin-bottom: 20px">
					<h2 class=" left-border to-animate">Gestion des Points</h2>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="sel1">Groupe :</label>
						<select class="form-control" id="sel1">
							<% for (var i = 0; i < arg['groupes'].length; i++){ %>
								<option value="<%=arg['groupes'][i].id%>" id="yolo"><%=arg['groupes'][i].nom%></option>
							<% } %>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="sel1">Points :</label>
  					<input type="number" class="form-control" id="points">
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<label >Information :</label>
  					<input type="string" class="form-control" id="information">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="sel1"></label>
						<button id="add_point" style="background-color:rgba(240, 240, 240, 0.5); margin-top: 50px; color:white">Valider</button>
					</div>
				</div>
			</div>
			<div class="gradient"></div>
			<div class="container">
				<div class="text-wrap" style="height:450px">
					<div class="text-inner">
						<div class="row">
							<div class="col-md-12 col-md-offset-0">

					<div  class="table-responsive" style="margin-top:20px; height:400px; overflow:auto; border: 1px groove rgba(146, 146, 146, 0.25)">
						<table>
							<% for (var i = 0; i < arg['points'].length; i++){ %>
								<tr>
									<td style="color:black;"><%= arg['points'][i].points %></td>
									<td style="color:black;"><%= arg['points'][i].date %></td>
									<% for(var k = 0 ; k < arg['groupes'].length ; k++){ %>
									<%if (arg['groupes'][k].id == arg['points'][i].id_groupe){%>
									<td style="color:black;"><%=arg['groupes'][k].nom%></td>
									<% }} %>
									<td style="color:black;"><%= arg['points'][i].information %></td>
									<td style="color:black;">
										<a class="trash_points" href="#" id_points="<%= arg['points'][i].id %>">
											<i class="icon to-animate icon-trash" style="color:black"></i>
										</a>
									</td>
								</tr>
							<% } %>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
				</div>
				<div class="slant"></div>
		</section>

<section id="fh5co-services" data-section="evenements">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-left" style="padding-bottom:0px; margin-bottom: 20px">
				<h2 class=" left-border to-animate">Gestion des évènements</h2>
			</div>
			<div class="gradient"></div>
			<div class="container"></div>
		</div>
	</div>
</section>

	<section id="fh5co-counters" data-section="Configurations">
		<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-left">
						<h2 class=" left-border to-animate">Configurations</h2>
						<div class="row">
							<div class="col-md-12 subtext to-animate">
								<button id="reset_first" style="background-color:rgba(240, 240, 240, 0.5); color:white"><i style="margin-right:15px" class="icon icon-loop"></i>Réinitaliser la base</button>
								<button style="display:none; background-color:rgba(240, 240, 240, 0.5); color:white" id="reset_all"><i style="margin-right:15px" class="icon icon-check"></i>Confirmer la suppression des données ?</button>
							</div>
						</div>
						<div class="row" style="margin-top: 20px">
							<div class="col-md-5 subtext to-animate">
								<a href= "/logout"><button style="background-color:rgba(240, 240, 240, 0.5); color:white"><i style="margin-right:15px" class="glyphicon glyphicon-off"></i>Deconnection</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="">
				<div class="col-md-12 text-center">
					<p>&copy; JIG TELECOM Nancy <br>Developpé par Kilian</p>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a target="blank" href="https://www.facebook.com/JeuxInterGroupes/"><i class="icon-facebook"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Counter -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="js/google_map.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="js/main.js"></script>
	<script src="js/socket.io-1.3.5.js"></script>
	<script src="js/notify.min.js"></script>

	<script>
	  var socket = io();

		$(".trash_commentaire").on('click', function() {
			socket.emit('del_commentaire', {
				id_commentaire : $(this).attr('id_commentaire')
			});
		});

		$(".trash_points").on('click', function() {
			socket.emit('del_points', {
				id_point : $(this).attr('id_points')
			});
		});

		$("#add_commentaire").on('click', function() {
			socket.emit('add_commentaire', {
				commentaire : document.getElementById("commentaire_input").value
			});
		});

		$("#add_point").on('click', function() {
			socket.emit('add_point', {
				id_groupe : document.getElementById("sel1").value,
				points : document.getElementById("points").value,
				information : document.getElementById("information").value
			});
		});

		$("#reset_first").on('click', function() {
			document.getElementById("reset_all").style.display = 'initial'
		});

		$("#reset_all").on('click', function() {
			socket.emit('reset_data');
		});

		$.notify.addStyle('happyblue', {
		  html: "<div><span data-notify-text/></div>",
		  classes: {
		    base: {
		      "white-space": "nowrap",
		      "background-color": "white",
		      "padding": "5px",
					"border": "1px groove"
		    }
		  }
		});

		socket.on('end', function(data){
			$.notify(data.msg,{position:"bottom right", style:"happyblue"});
		});
	</script>

	</body>
</html>
